@charset "UTF-8";

body{
	font-family: "Georgia";
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

*{
	margin: 0;
	padding: 0;
}

.button {
  font-weight: bolder;
  width: 200px;
  background-color: #F7F4EA;
  border: 2px solid #80A1D4;
  color:#80A1D4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input{
	background-color: #F7F4EA;
	border: 1px solid black;
	padding: 6px;
}

.underline-header{
	border-bottom: solid grey 1px;
	font-size: 50px
}

.error{
	color: red;
	font-size: 20px;
}

